.education-image {
  height: 40px; /* Base */
}

@media (min-width: 768px) {
  .education-image {
    height: 47px; /* Desktop */
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .education-image {
    height: 28px; /* Laptop */
  }
}

@media (max-width: 575px) {
  .education-image {
    height: 50px; /* Mobile */
  }
}