.education-card .card-image {
  height: 40px;
}

@media (min-width: 1024px) {
  .education-card .card-image {
    height: 47px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .education-card .card-image {
    height: 28px;
  }
}

@media (max-width: 767px) {
  .education-card .card-image {
    height: 50px;
  }
}