html, body { height: 100%; }
.no-scroll { overflow: hidden !important; height: 100% !important; }
/* hide scrollbar visuals */
html, body { scrollbar-width: none; -ms-overflow-style: none; }
html::-webkit-scrollbar, body::-webkit-scrollbar { width: 0; height: 0; background: transparent; }
