/* Education card image overrides */
.education-card { 
  overflow: hidden;
  box-sizing: border-box;
}

.card-image { 
  width: 100%; 
  height: 200px; 
  overflow: hidden; 
  background: #f6f7f6;
  flex-shrink: 0;
  position: relative;
}

.card-image img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) { 
  .card-image { 
    height: 200px; 
  } 
}

@media (max-width: 480px) { 
  .card-image { 
    height: 160px; 
  } 
}
